.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}

.green {
  background-color: green;
}
.position {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  width: 100px;
  height: 100px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
/* body {
  height: 400vh;
} */
